.react-datepicker__input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid transparent;
  outline: none;
  background-color: var(--color-inputs);
  color: var(--color-main);
  font-size: 16px;
  line-height: 1.25;
  cursor: pointer;
  caret-color: transparent;
  transition: border var(--transition);
}

@media screen and (min-width: 1440px) {
  .react-datepicker__input {
    padding: 18px;
  }
}

.react-datepicker__input:hover,
.react-datepicker__input:focus {
  border: 1px solid var(--color-text);
}

.react-datepicker-popper {
  transform: translate(0);
  z-index: 10;
}

.react-datepicker {
  padding: 8px;
  border-radius: 12px;
  border: 1px solid var(--color-main-20);
  background-color: var(--color-white);
  animation: var(--animation-fade-in);
}

@media screen and (min-width: 1440px) {
  .react-datepicker {
    padding: 16px;
  }
}

.react-datepicker__aria-live {
  position: absolute;
  clip-path: circle(0);
}

.react-datepicker__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  height: 42px;
  width: 42px;
  text-indent: -999em;
  overflow: hidden;
}

@media screen and (min-width: 1440px) {
  .react-datepicker__navigation {
    height: 56px;
    width: 56px;
  }
}

.react-datepicker__navigation--previous {
  left: 0;
}
.react-datepicker__navigation--next {
  right: 0;
}

.react-datepicker__navigation:hover *::before {
  border-color: var(--color-accent);
}

.react-datepicker__navigation-icon {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
}

.react-datepicker__navigation-icon::before {
  border-color: var(--color-main);
  border-style: solid;
  border-width: 3px 3px 0 0;
  content: '';
  display: block;
  height: 11px;
  position: absolute;
  top: 6px;
  width: 11px;
  transition: border-color var(--transition);
}

.react-datepicker__navigation-icon--next::before {
  transform: rotate(45deg);
  left: 6px;
}

.react-datepicker__navigation-icon--previous::before {
  transform: rotate(225deg);
  right: 6px;
}

.react-datepicker__current-month {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0;
  color: var(--color-main);
}

@media screen and (min-width: 1440px) {
  .react-datepicker__current-month {
    margin-bottom: 20px;
  }
}

.react-datepicker__day-names {
  margin-bottom: 12px;
  display: flex;
  column-gap: 1px;
}

@media screen and (min-width: 1440px) {
  .react-datepicker__day-names {
    margin-bottom: 20px;
  }
}

.react-datepicker__day-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 14px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: uppercase;
}

@media screen and (min-width: 1440px) {
  .react-datepicker__day-name {
    width: 41px;
  }
}

.react-datepicker__month {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
}

.react-datepicker__week {
  display: flex;
  column-gap: 1px;
}

.react-datepicker__day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 32px;
  border-radius: 6px;
  font-size: 14px;
  color: var(--color-main);
  cursor: pointer;
  user-select: none;
  transition: color var(--transition), background-color var(--transition),
    border-color var(--transition);
}

@media screen and (min-width: 1440px) {
  .react-datepicker__day {
    width: 41px;
  }
}

.react-datepicker__day--today {
  font-weight: 600;
}

.react-datepicker__day--outside-month {
  color: var(--color-text);
}

.react-datepicker__day--disabled {
  color: var(--color-main-20);
  pointer-events: none;
}

.react-datepicker__day--range-start,
.react-datepicker__day--range-end,
.react-datepicker__day--selecting-range-start,
.react-datepicker__day--in-selecting-range-end {
  border: 1px solid var(--color-accent);
}

.react-datepicker__day--in-range,
.react-datepicker__day--in-selecting-range {
  background-color: var(--color-accent-light);
}

.react-datepicker__day:hover,
.react-datepicker__day:focus {
  color: var(--color-white);
  background-color: var(--color-accent);
}
