.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 20px;
  border: 1px solid var(--color-main-20);
  animation: var(--animation-pulse);
}

@media screen and (min-width: 768px) {
  .card {
    flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    column-gap: 24px;
    padding: 24px;
  }
}

.image {
  aspect-ratio: 16 / 9;
  background-color: var(--color-main-10);
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .image {
    aspect-ratio: unset;
    width: 258px;
  }
}

@media screen and (min-width: 1440px) {
  .image {
    width: 38%;
    min-width: 290px;
  }
}

.details {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

@media screen and (min-width: 768px) {
  .details {
    width: 394px;
  }
}

@media screen and (min-width: 1440px) {
  .details {
    row-gap: 24px;
    width: 58%;
    min-width: 526px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.title {
  position: relative;
  padding-right: 38px;
  display: flex;
  justify-content: space-between;
  gap: 8px 16px;
}

@media screen and (max-width: 768px) {
  .title {
    flex-direction: column;
  }
}

.card_title {
  height: 30px;
  border-radius: 10px;
  background-color: var(--color-main-20);
}

@media screen and (min-width: 768px) {
  .card_title {
    width: 50%;
  }
}

.price {
  height: 30px;
  width: 124px;
  border-radius: 10px;
  background-color: var(--color-main-20);
}

.heart {
  position: absolute;
  right: -8px;
  top: -7px;
  width: 44px;
  height: 44px;
  color: var(--color-main-40);
}

.heart svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stats {
  display: flex;
  column-gap: 16px;
}

.stat_item {
  display: flex;
  align-items: center;
  color: var(--color-main-20);
}

.stat_item svg {
  margin-right: 4px;
}

.stat_item span {
  display: inline-block;
  height: 24px;
  width: 112px;
  border-radius: 10px;
  background-color: var(--color-main-10);
}

.description {
  height: 24px;
  border-radius: 10px;
  background-color: var(--color-main-10);
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.features_item {
  height: 44px;
  border-radius: 22px;
  background-color: var(--color-light);
}

.button {
  width: 166px;
  height: 56px;
  border-radius: 28px;
  background-color: var(--color-main-20);
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .button {
    margin: 0;
  }
}
